# Minecraft server properties
# {{ '%a %b %d %H:%M:%S %Z %Y'|strftime }}
max-tick-time={{ minecraft_server_cfg.max_tick_time }}
generator-settings={{ minecraft_server_cfg.generator_settings }}
force-gamemode={{ 'true' if minecraft_server_cfg.force_gamemode else 'false' }}
allow-nether={{ 'true' if minecraft_server_cfg.allow_nether else 'false' }}
gamemode={{ minecraft_server_cfg.gamemode }}
enable-query={{ 'true' if minecraft_server_cfg.enable_query else 'false' }}
player-idle-timeout={{ minecraft_server_cfg.player_idle_timeout }}
difficulty={{ minecraft_server_cfg.difficulty }}
spawn-monsters={{ 'true' if minecraft_server_cfg.spawn_monsters else 'false' }}
op-permission-level={{ minecraft_server_cfg.op_permission_level }}
pvp={{ 'true' if minecraft_server_cfg.pvp else 'false' }}
snooper-enabled={{ 'true' if minecraft_server_cfg.snooper_enabled else 'false' }}
level-type={{ minecraft_server_cfg.level_type }}
hardcore={{ 'true' if minecraft_server_cfg.hardcore else 'false' }}
enable-command-block={{ 'true' if minecraft_server_cfg.enable_command_block else 'false' }}
max-players={{ minecraft_server_cfg.max_players }}
network-compression-threshold={{ minecraft_server_cfg.network_compression_threshold }}
resource-pack-sha1={{ minecraft_server_cfg.resource_pack_sha1 }}
max-world-size={{ minecraft_server_cfg.max_world_size }}
server-port={{ minecraft_server_cfg.server_port }}
server-ip={{ minecraft_server_cfg.server_ip }}
spawn-npcs={{ 'true' if minecraft_server_cfg.spawn_npcs else 'false' }}
allow-flight={{ 'true' if minecraft_server_cfg.allow_flight else 'false' }}
level-name={{ minecraft_server_cfg.level_name }}
view-distance={{ minecraft_server_cfg.view_distance }}
resource-pack={{ minecraft_server_cfg.resource_pack }}
spawn-animals={{ 'true' if minecraft_server_cfg.spawn_animals else 'false' }}
white-list={{ 'true' if minecraft_server_cfg.white_list else 'false' }}
generate-structures={{ 'true' if minecraft_server_cfg.generate_structures else 'false' }}
online-mode={{ 'true' if minecraft_server_cfg.online_mode else 'false' }}
max-build-height={{ minecraft_server_cfg.max_build_height }}
level-seed={{ minecraft_server_cfg.level_seed }}
prevent-proxy-connections={{ 'true' if minecraft_server_cfg.prevent_proxy_connections else 'false' }}
use-native-transport={{ 'true' if minecraft_server_cfg.use_native_transport else 'false' }}
motd={{ minecraft_server_cfg.motd }}
enable-rcon={{ 'true' if minecraft_server_cfg.enable_rcon else 'false' }}
